/*Code en css*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
    margin: 0 auto;
}

div.image{
    position: relative;
    top: -400px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.truc{
    background-color: white;
    position: relative;
    top: 100px;
    padding: 50px;
    top: 200px;
    box-shadow: -13px 13px 2px 1px rgba(0, 0, 0, .4);
}
header h1{
    font-size: 95px;
    text-align: center;
    position: relative;
    top: -10px;
}

header p{
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 15px;

}

div.slides{
    display: flex;
    flex-direction: row;
    animation: glisse 7s infinite ease; 
}

.slides{
    opacity: 0.6 ;
}
img{
    width: 1500px;
}

@keyframes glisse{

    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-3000px);
    }
    33%{
        transform: translateX(-3000px);
    }
    66%{
        transform: translateX(-3000px);
    }
    100%{
        transform: translateX(0);
    }    

}

nav.menu{
    width:calc(500px*9)
}

nav.menu{
    display: flex;
}

nav.menu{
    padding: 0px;
}

nav.menu ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.5s all;
}

nav.menu ul li:hover{
    transform: scale(0.80);
    transition: 0.5s all;
}

.nav-items{
    padding: 50px;
    display: flex;
}

.nav-items{
    position: relative;
    top: -450px;
    width: 223px;
    height: 180px;
    
}

nav.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 100px;
}

.salade,.burger,.boissons,.pizza{
    width: 245px;
    height: 210px;
    opacity: 1;
}

.salade{
    background: url(salade.jpg)100%;
    background-repeat:no-repeat;
    background-size: cover;
}

.burger{
    background: url(burbur.jpg)100%;
    background-repeat:no-repeat ;
    background-size: no-repeat;
}

.boissons{
    background: url(boissons.jpg)100%;
    background-repeat: repeat;
    background-size: cover;
}

.pizza{
    background: url(pizza.jpg)100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.item{
    background-color: white;
    margin: 20px;
}

section{
    padding: 500px;
}

.item{
    width: 400px;
    height: 67px;
    position: relative;
    top: -500px;
}

section img{
    width: 100px;
}

.popo{
    position: relative;
    top: -74%;
}






div.slides{
    display: flex;
    flex-direction: row;
    animation: glisse 7s infinite ease; 
}

.popo{
    opacity: 0.5 ;
}
.popo{
    width: 1500px;
}

@keyframes glisse{

    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-3000px);
    }
    33%{
        transform: translateX(-3000px);
    }
    66%{
        transform: translateX(-3000px);
    }
    100%{
        transform: translateX(0);
    }    

}

div.menu1{
    background-color: white;
    margin: 20px;
    position: relative;
    top: -1690;
    padding: 5px;
    margin: 10px;
}

img.menu-burbur{
    position: relative;
    top: -1726px;
    opacity: 0.4;
}

div.menu-burger{
    margin: 3px;
    background-color: white;
    position: relative;
    top: -2700px;
    display: flex;
}


div.menu-salade{
    margin: 20px;
    background-color: white;
    display: flex;
}

div.menu-salade{
    margin: 3px;
    background-color: white;
}

img.menu--salade{
    position: relative;
    top: -2900px;
    opacity: 0.5;
}

/*section de pizza*/

.menu1{
    background-color: white;
    margin: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
    transform: 1000px;
}

.menu1:hover{
    transform: scale(1.3);
    transition: 0.3s all;
}

/*section de burger*/

.menu-burger{
    background-color: white;
    margin: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
}

.menu-burger:hover{
    transform: scale(1.3);
    transition: 0.3s all;
}

/*section salade*/

.menu-salade{
    position: relative;
    top: -3900px;
    background-color: white;
    margin: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
}

.menu-salade:hover{
    transform: scale(1.3);
    transition: 0.3s all;
}

/*section boissons*/

.menu-boissons{
    position: relative;
    top: -5900px;
    background-color: white;
    margin: 20px;
    display: flex;
    cursor: pointer;
    transition: 0.3s all;
}

.menu-boissons:hover{
    transform: scale(1.3);
    transition: 0.3s all;
}

/*section pour que le site est cool*/

.menuBoissons{
    opacity: 0.4;
    position: relative;
    top: -4070px;
}