body{
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

div.image{
    position: relative;
    top: -400px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.truc{
    background-color: white;
    position: relative;
    top: 100px;
    padding: 50px;
}
header h1{
    font-size:70;
}

header p{
    font-size:40px;

}

div.slides{
    display: flex;
    flex-direction: row;
    animation: glisse 7s infinite ease; 
}

.slides{
    opacity: 0.4 ;
}
img{
    width: 1500px;
}

@keyframes glisse{

    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-3000px);
    }
    33%{
        transform: translateX(-3000px);
    }
    66%{
        transform: translateX(-3000px);
    }
    100%{
        transform: translateX(0);
    }    

}

nav.menu ul li{
    list-style-type: none;
    display: inline-block;
}

.nav-items{
    padding: 50px;
    position: relative;
    top: -350;
}


.burger{
    background: url(bur.jpg);
}

.pizza{
    background: url(img.jpg);
}

.salade{
    background: url(salade.jpg);
}

.boissons{
    background: url(img.jpg);
}