body{
    background-color: yellow;
    margin: 0 auto;
}

div.image{
    position: relative;
    top: -300px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.truc{
    background-color: white;
    position: relative;
    top: 100px;
    padding: 50px;
}
header h1{
    font-size:80;
}

header p{
    font-size:25px;

}

div.slides{
    display: flex;
    flex-direction: row;
    animation: glisse 10s infinite ease; 
}

.slides{
    opacity: 0.4 ;
}
img{
    width: 1000px;
}

@keyframes glisse{

    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-500px);
    }
    66%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
    

}
